@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --three-tint-primary: #dfbfc7;
  --two-tint-primary: #c08090;
  --one-tint-primary: #90606c;
  --primary-color: #800020;
  --one-shade-primary: #600018;
  --two-shade-primary: #400010;
  --three-shade-primary: #30000c;
  --triadic-green: #208000;
  --triadic-blue: #002080;
  --analogous-orange: #802000;
  --analogous-pink: #800060;
  --split-complements-green: #008020;
  --split-complements-blue: #006080;
  --complementary-color: #008060;
  --secondary-color: #e2725b; /* maybe won't use this */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  min-height: 500px;
  box-sizing: content-box;
  background-color: #f4f4f4;
  margin: none;
  overflow: hidden;
  padding: 1rem 2rem;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 0;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--secondary-color);
}

/* Footer */
.footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
